
.banners{
    margin-bottom: 20px;
}
.banners-parent{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 20px;
}
.banner-link-holder{
    display: block;
}
.banner-item {
    overflow: hidden;
    transition: all linear .3s;
    img{
        width: 100%;
        transition:  all linear .2s;
    }
}


@include max-768 {
    .banners-parent{
        grid-template-columns: auto;
        gap: 20px;
    }   
    .banner-item img{
       max-width: 100%;
       transition: all linear .3s;
       object-fit: cover;
       min-height: 135px;
    }
}

@include min-768 {
    .banners-parent{
        grid-template-columns: 1fr 1fr;
    }   
    .banner-item{
        text-align: center;
    }
  
}
