
.brands{
   margin-bottom: 20px;
 }

 .client-item a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        max-width: 100%;
    }
 }


@include max-768 {
   .brands .general-parent{
      padding: 40px 0 70px 0;
   }
}